<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
     
      <h2 class="h2"><br>Books List</h2>
    </div>
   
    

    <mat-card class="example-card" *ngFor="let book of Books; let i = index">
      <mat-card-header>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.price}}</mat-card-subtitle>
        <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg">
      </mat-card-header>
      <mat-card-content>
        <p>{{book.description}}</p> 
        <p>{{book.book_type}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button matTooltip="Wanna Edit?" class="btn btn-sm btn-primary" routerLink="/edit-book/{{book._id}}">Edit</button> &nbsp;
        <button matTooltip="Wanna Delete?" class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Delete</button>
      </mat-card-actions>
    </mat-card>


    <mat-paginator [length]="Books.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10,15,20]"
    aria-label="Select page">
</mat-paginator>




  </div>


